@import "../../mixins";

.minesweeper-body {
  background: #D8D8D8;
  padding: 1.6rem 2rem;
  box-sizing: border-box;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  @include block(4px);
}

.minesweeper-header {
  display: flex;
  justify-content: space-between;
}

.bombs-indicator {
  font-size: 3rem;
}

.minesweeper-game__field {
  overflow: auto;
  @include block(4px);
}

.minesweeper-game {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.minesweeper-game__header {
  margin-bottom: 1.6rem;
}
