@import "../../mixins";

.minesweeper-body {
  background: #D8D8D8;
  padding: 1.6rem 2rem;
  box-sizing: border-box;
  max-width: 80vw;
  max-height: 80vh;
  display: flex;
  @include block(4px);
}

.minesweeper-game-field {
  overflow: auto;
  @include block(4px);

  table {
    tr {
      transition: min-height 100ms;

      td {
        transition: min-width 100ms;
        pointer-events: visiblePainted;
      }
    }
  }


}

.minesweeper-game__field {
  position: relative;

  .minesweeper-game-field__config {
    width: 50px;
    position: absolute;
    right: -50px;
    top: 0;
  }
}

.minesweeper-game {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  overflow: hidden;
}

.minesweeper-game__header {
  margin-bottom: 1.6rem;
}
