
table, th, td {
    border: 1px solid black;
    table-layout: fixed;
}

tr {
    height: 50px;
}

td {
    /* 50px expected width, but 1px is border of current cell + 1px margin + margin and border of next's cell */
    width: 46px;
    cursor: pointer;
}

td:hover {
    background: red;
}
